@media (max-width: 768px) {
  .board {
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  }
  
  .cell {
  width: 80px;
  height: 80px;
  font-size: 4rem;
  }  
}
body {
    background-color: #0e0e16;
    font-family: "Lucida Console", Monaco, monospace;
    color: #a1c3d1;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: #ffc0cb;
  }

  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    border: 2px solid #a1c3d1;
    background-color: #0e0e16;
    transition: background-color 0.3s ease;
    cursor: pointer;
    
  }
  
  .cell:hover {
    background-color: #1b2430;
    box-shadow: 0 0 15px #ffc0cb;
  }
  
  .cell:active {
    background-color: #ffc0cb;
    border-color: #ffc0cb;
  }
  
  #message {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #ffc0cb;

  }
  
  .button-container {
    display: flex;
    justify-content: center; /* Optional: center the buttons horizontally */
  }
  
  .button-container button {
    display: inline-block;
    margin: 0 10px; /* Optional: add some space between the buttons */
  }
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #a1c3d1;
    color: #0e0e16;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0e0e16;
    color: #a1c3d1;
    box-shadow: 0 0 10px #ffc0cb;
  }
  